.listagem{
    min-height: calc(100vh(75 + 25px + 40));
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}

.listagem h1{
text-transform: uppercase;
}

.listagem hr {
    max-width: 300px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #73061B;
    margin-top: 5px;
}
.item_lista img{
    height: 28px;
}

.tabela table{
width: 100%;
border-collapse: collapse;
}

.tabela{
    width: 100%;
    margin-top: 30px;
}

.table_cabecalho :first-child{
    width: 300px;
    
}
.table_cabecalho :nth-child(2){
    width: 200px;
}

.table_cabecalho th{
    width: 100px;
}
.item_lista{
    text-align: center;
    border-bottom: solid 1px #73061B20;
}

.item_lista td{
padding: 20px 0 5px 0;
text-align: left;
padding: 10px 10px 10px 0;
grid-template-columns: 10ch auto;
}

@media screen and ( max-width: 768px){
.tabela thead{
        display: none;
    }
    
    .item_lista td{
        display: grid;
    }
    
    .item_lista td::before{
        /*Adiciona o data-cell no html e coloca os : depois*/
        content: attr(data-cell) ":";
        font-weight: 700;
        width: 80px;
        text-align: left;
    }

    .item_lista td:last-child{
margin-bottom: 24px;
    }

    .item_lista td:first-child{
        margin-top: 24px;
    }
    }
    